# Node
node_modules

# Ignore users upload
*.jpeg
*.jpg
*.png
*.webp

# Does not ignore illustrations images
!Piiquante-4.jpeg1666023579503.jpg
!Piiquante-5.jpeg1666023670863.jpg
!Piiquante-3.jpeg1666023756358.jpg
!Piiquante-2.jpeg1666023718561.jpg

